.foto{
    margin-left: 550px;
    margin-right:  550px;
    font-family: 'Courier New', Courier, monospace;
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.hola{
    background-color: #c52f25;
    color: rgb(255, 254, 254);
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;

}
nav{
    margin-left: 400px;
    margin-right:  400px;
}
div#general{
    margin: auto;
    margin-top: 50px;
    width: 1200px;
    height: 900px;
    
}
div#info{
  float: right;
  width: 200px;
  height: 500px;
  background-color: #c52f25;
  

}

#map{
    margin: 150px;
}

body{
    background: url(../img/Fondo.jpg);
    background-size: 100%;
    -webkit-background-size: cover ;
    background-size: cover;
    background-attachment: fixed;

}

h1{
    color: #c52f25;
    text-align: center;
    font-size: 30px;
    margin-left: 440px;
    font-family:'Courier New', Courier, monospace;
    margin-right: 435px;
} 


#menu{
    padding: 10px;
    margin: 10px;
    background: #c52f25;
    border: 3px solid rgb(107, 104, 104);
    border-radius: 20px;
}

#menu > ul{
    list-style: none;
}

#menu > ul > li{
    display: inline;
    margin-left: 30px;

} 
#menu > ul > li > a{
    display: inline;
    margin-left: 30px;
    color: white;
    font-family:'Courier New', Courier, monospace;
}
.etiqueta{
    display: block;
    color:white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

header label{
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    border: 1px solid #ffffff ;
}

header label:hover{
   cursor: pointer;
   background: rgba(0,0,0,0.3)
}

