*{
    padding: 0;
    margin: 0%;
}


html, body, .container{
    width: 100%;
    height: 100%;
}
h2{
    color:red;
}

input[type="email"]{
    padding-left: 20px;
}

input[type="password"]{
    padding-left: 20px;
}

h2{
    margin-top: 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-card{
    border: 3px solid black;
    border-radius: 2%;
    width: 400px;
    height: auto;
    margin: 30px;
}

.login-card > form > div {
    width: 100%;
    text-align: center;
}

.login-card input{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    height: 40px;
    border-radius: 20px;
}
 a{
     font-size: 20px;
     margin: 10px;
 }